---
import {getCollection, render} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Rating from "../../components/Rating.astro";
import {formatPrice} from "../../utils/numbers";
import {WA_NUMBER} from "astro:env/client";
import GetDemo from "../../components/GetDemo.astro";
import SubscribeWidget from "../../components/SubscribeWidget.astro";

interface MetaTagsProps {
    description?: string;
    keywords?: string[];
    image?: string;
    type?: 'article' | 'product' | 'website';
}

export async function getStaticPaths() {
    const products = await getCollection('products')

    return products.map(product => ({
            params: {
                id: product.slug,
            },
            props: {
                product
            }
        }
    ))
}

const {product} = Astro.props;
const {data} = product
const {title, seoTitle, rating, price, img, description, video, testimonials, hasDemo, listIdSendy} = data;

const {Content} = await render(product)
const pageTitle = `${seoTitle ? seoTitle : title} - Todoconta`

const metaTags: MetaTagsProps = {
    description: description,
    image: img,
    type: 'product',
}

const whatsAppMessageToBuy = encodeURIComponent(
    `Hola, tengo interés en el producto *${title}*. ¿Podrías darme más información sobre cómo comprarlo?`
)

const whatsAppMessageToDownload = encodeURIComponent(
    `Hola, me interesa probar el demo del producto *${title}*. ¿Podrías enviármelo o indicarme cómo descargarlo?`
)
---
<Layout title={pageTitle} metaTags={metaTags}>
  <div class="container mx-auto md:max-w-4xl p-4 pb-16 md:pb-32">
    <article class="flex gap-4 flex-col">
      <section class="md:grid md:grid-cols-2 md:gap-10 md:items-center">
        <div class="columns-1">
          <figure>
            <img src={img} alt={`Imagen del producto: ${title}`} class="w-full h-auto rounded-lg"/>
            <figcaption class="hidden">{seoTitle ? seoTitle : title}</figcaption>
          </figure>
        </div>
        <div class="columns-1 prose dark:prose-invert">
          <header>
            <h1 class="text-2xl md:text-4xl font-bold mt-4 mb-2">{title}</h1>
              {rating && (
                <Rating rating={rating}/>)}
          </header>

          <p class="text-lg font-bold mt-2">{formatPrice(price)} MXN <span class="text-sm font-light">IVA inc.</span>
          </p>

          <p class="mt-2">{description}</p>

          <div class="cta-buttons mt-4 flex flex-col sticky">
            <a href={`https://wa.me/${WA_NUMBER}?text=${whatsAppMessageToBuy}`}
               class="bg-secondary-green text-white no-underline text-center py-4 px-6 rounded-lg hover:bg-primary-light inline-block dark:bg-secondary-green"
               target="_blank"
               rel="noopener noreferrer"
               onclick="gtag('event', 'click', {
                   event_category: 'WhatsApp',
                   event_label: title,
                   value: price,
               })"
            >Comprar</a>
              {hasDemo && listIdSendy ? (
                <GetDemo title={title}/>
              ) : (
                <a href={`https://wa.me/${WA_NUMBER}?text=${whatsAppMessageToDownload}`}
                   class="text-primary text-center no-underline mt-4 block"
                   target="_blank"
                   rel="noopener noreferrer"
                   onclick="gtag('event', 'click', {
                       event_category: 'Demo',
                       event_label: title,
                   })"
                >Solicitar demo</a>
              )}
          </div>
        </div>
      </section>

        {listIdSendy && (
          <section id="demoWidget" class="hidden">
            <SubscribeWidget listId={listIdSendy}
                             ctaText="¡Quiero probar el demo!"
                             title={`Prueba ${title} sin compromiso`}
                             description="Descarga nuestra versión demo gratuita, y utilízala sin limitaciones. Si no cumple con tus expectativas, elimínala de tu equipo sin preocupaciones."
                             disclaimer="¡Aunque estamos seguros de que no querrás hacerlo! 😉"
                             hasNameField
                             style={"p-8 my-4 rounded-lg bg-gray-100 text-center"}
            />
          </section>
        )}


      <section class="product-description prose dark:prose-invert mt-8">
        <h2 class="text-2xl font-semibold">Mas información</h2>
        <Content/>
      </section>

        {video && (
          <section class="product-video mt-8">

          </section>
        )}

        {(testimonials && testimonials.length > 0) && (
          <section class="product-testimonials mt-8">

          </section>
        )}

    </article>
  </div>
</Layout>