---
import Layout from "../layouts/Layout.astro";
import {getCollection, render} from 'astro:content'
import Subscribe from "../components/Subscribe/Subscribe.astro";

export async function getStaticPaths() {
    const posts = await getCollection('posts');

    return posts.map(post => ({
        params: {id: post.slug},
        props: {post}
    }))
}

const {post} = Astro.props;
const {data} = post;
const {title, publishedDate, description, img, seoTitle} = data;

const date = publishedDate.toLocaleDateString('es-MX', {month: 'long', day: 'numeric', year: 'numeric'});

const {Content} = await render(post)
const pageTitle = `${seoTitle ? seoTitle : title} - Todoconta`
---
<Layout title={pageTitle}>
  <div class="container mx-auto md:max-w-3xl p-4">
    <section>
      <article class="flex gap-4 flex-col">
        <time datetime={publishedDate.toLocaleString()} class="text-xs">{date}</time>
        <h1 class="prose text-2xl dark:prose-invert">{title}</h1>
        <p class="lead">{description}</p>
        {img && (
          <figure>
            <img src={img} alt={title}/>
            <figcaption class="hidden">
                {description}
            </figcaption>
          </figure>
        )}
        <Subscribe />
        <div class="prose dark:prose-invert prose-lg">
          <Content/>
        </div>
      </article>
    </section>
  </div>
</Layout>