---
import Layout from "../layouts/Layout.astro";
import {getCollection, render} from 'astro:content'
import PostCTA from "../components/blog/PostCTA.astro";
import AuthorBio from "../components/blog/AuthorBio.astro";
import {WA_NUMBER, SENDY_LIST_ID} from "astro:env/client";
import SubscribeWidget from "../components/SubscribeWidget.astro";

interface MetaTagsProps {
    description?: string;
    keywords?: string[];
    image?: string;
    type?: 'article' | 'product' | 'website';
}

export async function getStaticPaths() {
    const posts = await getCollection('posts');

    return posts.map(post => ({
        params: {
            id: post.slug
        },
        props: {
            post
        }
    }))
}

const {post} = Astro.props;
const {data} = post;
const {title, publishedDate, description, img, seoTitle, tags} = data;

const date = publishedDate.toLocaleDateString('es-MX', {month: 'long', day: 'numeric', year: 'numeric'});

const {Content} = await render(post)
const pageTitle = `${seoTitle ? seoTitle : title} - Todoconta`

const metaTags: MetaTagsProps = {
    description: description,
    keywords: tags,
    image: img,
    type: 'article',
}
---
<Layout title={pageTitle} metaTags={metaTags}>
  <div class="container mx-auto md:max-w-3xl p-4 pb-16 md:pb-32">
    <article class="flex gap-4 flex-col">
      <header>
        <h1 class="prose text-2xl dark:prose-invert">{title}</h1>
        <time datetime={publishedDate.toLocaleString()} class="text-xs">{date}</time>
      </header>
      <p class="lead">{description}</p>
        {img && (
          <figure>
            <img src={img} alt={title}/>
            <figcaption class="hidden">
                {description}
            </figcaption>
          </figure>
        )}
      <section>
        <SubscribeWidget listId={SENDY_LIST_ID}
                         ctaText="¡Suscribirme!"
                         title="Consigue nuestra plantilla gratuita"
                         description="Recibe la plantilla de flujo de efectivo y nuestro boletín semanal."
                         disclaimer="Te puedes dar de baja cuando quieras. Sin resentimientos. 😊"
                         hasNameField
                         style={"p-8 rounded-lg bg-gray-100 text-center"}
        />
      </section>
      <div class="prose dark:prose-invert prose-lg">
        <Content/>
      </div>
      <section>
        <PostCTA title="¿Dudas sobre este tema?"
                 description="Si necesitas ayuda o quieres que implemente este servicio por ti, no dudes en ponerte en contacto conmigo."
                 ctaText="Contáctame Ahora"
                 ctaLink=`https://wa.me/${WA_NUMBER}/?text=¡Hola Israel! Acabo de leer "${title}" ¿Agendamos una sesión 1:1?`
        />
      </section>
      <section>
        <AuthorBio/>
      </section>
    </article>
  </div>
</Layout>