---
import Layout from "../layouts/Layout.astro";
import {getCollection} from "astro:content";
import Rating from "../components/Rating.astro";

const products = await getCollection("products");

const pageTitle = "Tienda - Todoconta";
---
<Layout title={pageTitle}>
  <div class="md:container md:mx-auto p-4">
    <section class="grid md:grid-cols-3 gap-4">
        {products.map((item) => (

          <article class="prose dark:prose-invert">
            <img src={item.data.img} alt={item.data.title} class="w-full h-auto rounded-lg"/>
            <h2>{item.data.title}</h2>
            <Rating rating={item.data.rating}/>
            <p>{item.data.price}</p>
            <a href=`producto/${item.slug}` class="mt-4 inline-block bg-primary text-white py-2 px-4 rounded-lg hover:bg-primary-light">Comprar</a>
          </article>
        ))}
    </section>
  </div>
</Layout>