---
import {WA_NUMBER} from 'astro:env/client'

import Carousel from "../Carousel.astro";
const serviceItems = [
    {
        title: "Asesorías Contables",
        description: "Resuelve tus dudas y optimiza tus impuestos en una sesión 1 a 1.",
        href: `https://wa.me/${WA_NUMBER}/?text=¡Hola Israel! Me interesa en una sesión 1 a 1 contigo.`,
        cta: "Mas información",
    },
    {
        title: "Gestión Fiscal",
        description: "Cumple con tus obligaciones fiscales de manera eficiente.",
        href: `https://wa.me/${WA_NUMBER}/?text=¡Hola Israel! Quiero saber si mis obligaciones fiscales están al corriente.`,
        cta: "Contratar",
    },
    {
        title: "Automatización Digital",
        description: "Implementamos soluciones como Alegra para simplificar tu contabilidad.",
        href: `https://wa.me/${WA_NUMBER}/?text=¡Hola Israel! Quiero saber cómo puedo simplificar mi negocio/contabilidad.`,
        cta: "Contratar",
    },
];
---
<section id="servicios" class="text-center py-12">
  <h2 class="text-2xl font-bold mb-6">Servicios</h2>
  <Carousel data={serviceItems}/>
</section>