---
import {WA_NUMBER} from "astro:env/client";

interface MenuListProps {
    title: string,
    url: string,
    isCTA?: boolean,
}

const menuList: MenuListProps[] = [
    {
        title: 'Blog',
        url: '/blog'
    },
    {
        title: 'Tienda',
        url: '/tienda'
    },
    {
        title: 'Agenda tu Asesoría',
        url: `https://wa.me/${WA_NUMBER}/?text=¡Hola Israel! Me interesa en una sesión 1 a 1 contigo.`,
        isCTA: true,
    }
]

const {styles} = Astro.props
---
<div class=`nav-links ${styles}`>
    {
        menuList.map((item) => (
          <a href={item.url} class={item.isCTA ? "text-center text-white bg-secondary-green font-semibold py-2 px-4 md:py-2 md:rounded-lg border border-solid border-secondary-green hover:bg-transparent hover:text-secondary-green" : ""}>{item.title}</a>
        ))
    }
</div>
